$color-white-main: #fff;

$color-background: hsl(204, 70%, 98%);

$color-border: hsl(204,40%,90%);

$color-primary: hsl(194,90%,30%);
$color-secondary: hsl(200,25%,60%);

$color-font: hsl(212, 22%, 47%);