<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Load polyfill -->
    <script>var modernBrowser = "fetch" in window && "assign" in Object; if (!modernBrowser) { var scriptElement = document.createElement("script"); scriptElement.async = !1, scriptElement.src = "js/polyfills.bundle.js", document.head.appendChild(scriptElement) }</script>

    <link rel="stylesheet" href="css/main.css">
    <script src="js/vue.bundle.js"></script>
</head>

<body>
    <div id="app">
        <div class="containerfillscreen">

            <page-header></page-header>

            <form class="centeredForm" @submit='handleRegister'>
                <div class="top">
                    <h2 class="title">Register</h2>
                </div>

                <div class="bottom">
                    <div class="row">
                        <label class="label" for="email">Email</label>
                        <input class="input" type="text" name="email" v-model='email'>
                    </div>

                    <div class="row">
                        <label class="label" for="email_conf">Confirm Email</label>
                        <input class="input" type="text" name="email_conf" v-model='email_conf'>
                    </div>

                    <div class="row">
                        <label class="label" for="password">Password</label>
                        <input class="input" type="password" name="password" v-model='password'>
                    </div>

                    <div class="row">
                        <label class="label" for="password_conf">Confirm Pasword</label>
                        <input class="input" type="password" name="password_conf" v-model='password_conf'>
                    </div>

                    <div class="row status">
                        <transition v-on:enter="enter" v-on:leave="leave">
                            <p v-cloak v-if='error' class="error">{{error}}</p>
                            <p v-cloak v-if='loading' class="loading">Loading...</p>
                            <p v-cloak v-if='success' class="success">Success</p>
                        </transition>

                    </div>

                    <div class="row">
                        <button type="submit" class="button submit" ref='registerBtn'>Register</button>
                    </div>

                    <p><a href="/login" class="link">Login</a></p>
                </div>
            </form>
        </div>
    </div>

    <script src="js/register.bundle.js"></script>
</body>

</html>