.create {
    .row {
        display: flex;
        width: 100%;
        max-width: 400px;      
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .input {
        margin-bottom: 10px;
    }

    .response {
        color: $color-black-main;
        width: 100%;
        max-width: 600px;
        min-height: 40px;
        margin-top: 10px;
    }

    .error,
    .loading,
    .success {
        margin: 0;
        padding: 10px;
        border-radius: 5px;
    }

    .error { background-color: $color-error }
    .success { background-color: $color-success }
}