.header {
    height: 100px;
    background-color: $color-primary;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .container {
        max-width: 1000px;
    }

    .title {
        text-transform: uppercase;
        letter-spacing: 5px;
        color: white;
    }

}

@media (max-width: 400px) {
    .header .title {
        font-size: 32px;
        word-spacing: 100vw;         
    }
}

@media (max-width: 300px) {
    .header .title {
        font-size: 26px;
    }
}

@media (max-width: 250px) {
    .header .title {
        font-size: 20px;
    }
}