.optionspage {
    min-height: 115px;
    
    .title,
    .label {
        text-align: center;
    }

    .title {
        font-size: 32px;
        font-weight: 100;
        color: $color-primary;
    }

    .label {
        > a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &.url {
            text-transform: uppercase;
        }
    }

    .status {
        position: absolute;
        top: 20px;
        left: 20px;

        > span {
            background-color: $color-success;
            padding: 5px;
            border-radius: 5px;
            font-size: 16px;
        }

        &.disabled > span {
            background-color: $color-error
        }
    }
}